.eggs,
.bowl,
.tacos {
    font-size: 40px;
    font-family: Helvetica, sans-serif;
    text-align: center;
}


.eggs {
    color: green;
}

.bowl {
    color: #ffcc99;   
}

.tacos {
    color: #ff8000;
}

.fadv {
    font-weight: 600;
    color: yellow;
    font-size: 80px;
}

.tpic {
    height: auto;
    width: 600px;
}